@font-face {
  font-family: "Intro";
  src: url(../fonts/intro-black.ttf);
  font-weight: 900;
}

.soedinenie {
  overflow-x: hidden;
  background-color: white;
  font-family: "Whitney";
}

.container {
  max-width: 82.4%;
  margin: 0 auto;
  padding: 0 15px;
}

.title, .title2 {
  font-family: 'Intro';
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.title {
  color: white;
}

.title2 {
  color: #E88703;
}

.text {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: black;
  line-height: 34px;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 1550px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .text {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .text {
    max-width: 100%;
  }
}

@media (max-width: 505px) {
  .title, .title2 {
    font-size: 32px;
    line-height: 40px;
  }
  .text {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 2550px) {
  .title, .title2 {
    font-size: 70px;
    line-height: 85px;
  }
  .text {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: 2950px) {
  .title, .title2 {
    font-size: 100px;
    line-height: 120px;
  }
  .text {
    font-size: 60px;
    line-height: 75px;
  }
}

.header {
  background-color: #F39008;
  padding-bottom: 160px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__img {
  width: 53%;
}

.header__eyes {
  margin-left: -7%;
  width: 54%;
}

.header__mobile {
  display: none;
}

@media (max-width: 505px) {
  .header__img {
    display: none;
  }
  .header__eyes {
    display: none;
  }
  .header__mobile {
    display: block;
    width: 100%;
  }
}

.main {
  margin-top: -1%;
}

.tasks {
  background-color: #F39008;
  padding-bottom: 106px;
}

.portraits {
  background-color: #F39008;
  margin-top: -1%;
}

.portraits__text {
  margin-bottom: 70px;
}

.portraits__img {
  margin: 0 auto;
}

.desicion {
  margin-top: 70px;
}

.desicion__text:nth-child(3) {
  margin-bottom: 140px;
}

.desicion__img {
  margin: 0 auto;
  margin-bottom: 140px;
}

.desicion__img2 {
  display: none;
}

.desicion__images {
  display: none;
}

.desicion__img3 {
  display: none;
}

.desicion__img4 {
  display: none;
}

@media (max-width: 768px) {
  .desicion__img {
    display: none;
  }
  .desicion__img2 {
    display: block;
  }
  .desicion__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 140px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -15%;
  }
  .desicion__img3 {
    display: block;
    width: 48%;
    margin-right: 12px;
  }
  .desicion__img4 {
    display: block;
    width: 48%;
  }
}

.why {
  margin-bottom: 70px;
}

.result {
  background-image: url(../images/result/result__bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 70px;
}

.opinion__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
}

.opinion__content {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
  margin-right: 80px;
}

.opinion__title, .opinion__subtitle {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  line-height: 36px;
  color: #E88703;
  text-transform: uppercase;
  text-align: left;
}

.opinion__subtitle {
  font-weight: 400;
  margin-bottom: 20px;
}

.opinion__text {
  text-align: left;
  max-width: 90%;
  margin: 0;
}

.opinion__img {
  width: 25%;
}

@media (max-width: 1235px) {
  .opinion__inner {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .opinion__content {
    padding-bottom: 30px;
  }
  .opinion__img {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .opinion__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .opinion__content {
    width: 100%;
    margin-right: 0;
  }
  .opinion__title, .opinion__subtitle {
    text-align: center;
  }
  .opinion__text {
    text-align: center;
    max-width: 100%;
  }
}

@media (min-width: 2550px) {
  .opinion__title, .opinion__subtitle {
    font-size: 50px;
    line-height: 62px;
  }
}

@media (min-width: 2950px) {
  .opinion__title, .opinion__subtitle {
    font-size: 85px;
    line-height: 100px;
  }
}

.footer {
  background-color: #F39008;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  margin: 0 auto;
}

.footer__item {
  margin-right: 40px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer__item-img {
  width: 100%;
}

.footer__item-img:not(:last-child) {
  margin-bottom: 40px;
}

.footer__item-title {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.footer__item-text {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 24px;
  text-align: center;
  color: black;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .footer__item-img {
    width: 65%;
    margin: 0 auto;
  }
  .footer__item-text {
    max-width: 55%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .footer__item-text {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .footer__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__item-img {
    width: 90%;
  }
  .footer__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 505px) {
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
  .footer__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footer__item-img {
    width: 85%;
  }
  .footer__item-title {
    font-size: 16px;
  }
  .footer__item-text {
    font-size: 14px;
  }
}

@media (min-width: 2550px) {
  .footer__item-title {
    font-size: 35px;
    line-height: 45px;
  }
  .footer__item-text {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (min-width: 2950px) {
  .footer__item-title {
    font-size: 55px;
    line-height: 70px;
  }
  .footer__item-text {
    font-size: 45px;
    line-height: 60px;
  }
}
